# Environment variables
.env
*.env
backend/.env

# SQLite Database
*.db
backend/*.db

# Python
__pycache__/
*.pyc
venv/
backend/venv/

# Node / Frontend
node_modules/
dist/
.vite/

# System / IDE
.DS_Store
*.log
